

body, html {
	height: 100%;
}

.parallax {
	background-image: url('https://c.tenor.com/x8v1oNUOmg4AAAAd/rickroll-roll.gif');

	height: 100%;

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax_ {
	background-image: url('https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/67017569913/original/eRng0VqQBtDKwAOJDyddELqKgFk4o4mYPg.gif?1626969057');

	height: 100%;

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.centered {
	text-align: center;
	color: whitesmoke;
	font-size: 80px;
	align-items: center;
}
